.header-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 60%;
  margin: 0 auto;
  padding: 0.5rem;
  margin-bottom: -1.5rem;
}

.header-text {
  color: #c40e0e;
  font-size: 1.8rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transform: scale(0.8);
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
    transform: scale(1.1);
  }
}
